
.image{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

div .image{
    display: block;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.mission h1{
    text-align: center;
    color: #d04764; 
    font-family: 'Lobster'; 
    font-size: 36px; 
    font-weight: normal; 
    line-height: 48px; 
  }


.information{
    width: 800px;
    height: 400px;
    display: flex;
    align-items: flex-start;
    margin:auto;
    margin-bottom: 40px;
    border-style: inset;
    border-width: 7px;
    border-color: #d04764;
    border-radius: 4px;
}

.mission{
    margin:50px;
}

.text{
    font-size:larger;
    padding-top: 50px;
    padding-right: 50px;
    text-align: left;
}