.nav{
    background-color: #333;
    list-style-type:none;
    margin:0;
    padding:0;
      overflow: hidden;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
      text-decoration: none;
      color: white;
    padding:20px;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #aa0404;
}